{% extends 'MainApp/base.html' %}


{% block content %}

<p>
    Pizza: {{ pizza }}
</p>
<p>
    Toppings:
</p>

<ul>
    {% for t in toppings %}

    <li>
        <p>{{ t.text }}</p>
    </li>
    {% empty %}
    <li>
        There are no toppings for this pizza.
    </li>
    {% endfor %}
</ul>

<p>Comments:</p>

<ul>
    {% for c in comments %}

    <li>
        <p>{{c.text}}</p>
        <p>{{c.date_added}} by {{c.owner}}</p>
        {% if c.owner == request.user %}
        <p><a href="{% url 'edit_comment' c.id %}">Edit Comment</a></p>
        {% endif %}
    </li>

    {% empty %}
    <li>
        There are no comments for this pizza.
    </li>
    {% endfor %}

</ul>

<p><a href="{% url 'new_comment' pizza.id %}">Add New Comment</a></p>

{% endblock content %}